<div class="text-center h-100">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Covidash</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" routerLink="/welcome">Welcome</a>
          <a class="nav-link" routerLink="/admin/covid">Covid</a>
          <a class="nav-link" routerLink="/admin/chuck-norris">Chuck Norris</a>
          <a class="nav-link" routerLink="/admin/number">Números</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Dashboard Covidash.</h1>
      <p class="lead">Covidash es un dashboard en el cual se puede visualizar información relevante al covid.</p>
      <p class="lead">
        <a routerLink="/admin/covid" class="btn btn-lg btn-secondary">Entrar</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>
          Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by
          <a href="https://twitter.com/mdo" target="_blank">@mdo</a>.
        </p>
      </div>
    </footer>
  </div>
</div>
